body {
    background-color: rgb(164, 187, 207);
}

header {
    width: auto;
    height: 100px;
    background-color: white;

}

.image {
    position: relative;
    width: 100%;

}

.image h1 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}