* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(164, 187, 207);
}

header {
    width: auto;
    height: 100px;
    background-color: white;

}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1477px;
}

.image {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 370px;
    filter: rgb(164, 187, 207);
}

.image img {
    width: 100%;
    height: 100%;
}

.image .title {
    color: white;
    position: absolute;
    top: 150px;
    left: 0;
    text-align: center;
    width: 100%;
}

.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b4569;
    opacity: .5;
}