body {
    background-color: #bcbcbc;
}

.figure-style h1 {
    width: 350px;
    color: white;
    background-color: #222222;
    
}

.figure-style h2 {
    width: 350px;
    color: white;
    background-color: #222222;
}